.large {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;

}

.medium {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 2px;

}